
<div class="card">

  <div class="card-body">

    <div class="title card-header">
      <h5 class="card-title text-center">My Profile</h5>
    </div>
    <form  @submit.prevent="">
      <div class="form-row row">
        <div class="col-12 mb-2">
          <div class="input-group">
            <input type="text" placeholder="Full name(surname first)" autocomplete="name" class="form-control" id="full_name" required v-model="stores.regForm.full_name">
            
          </div>
        </div>
      </div>
        <div class="form-row row">
          <div class="col-xs-12 mb-2">
            <div class="input-group">
              <input type="email" placeholder="Email" autocomplete="email" class="form-control" id="email" required v-model="stores.regForm.email" readonly>
              
            </div>
          
            <div class="input-group">
              <select class="form-select" id="role" required v-model="stores.regForm.role">
                <option disabled selected value="">Role</option>
                <option value="A">Librarian 1</option>
                <option value="B">Librarian 2</option>
                <option value="C">Librarian 3</option>
                <option value="D">Chief Librarian</option>
              </select>
            </div>
          </div>
          
        </div>
        
        <div class="form-row row">
          <div class="col-12 mb-2 mt-3">
            <div class="input-group">
              <button class="btn btn-primary w-100" type="submit" >Update Profile</button>
            </div>
          </div>
        </div>
    </form>

  </div>
</div>

